
.group-block
  padding: 10px
.edit-buttons
  display: flex
  justify-content: space-between
.list-box
  max-width: 400px
  min-width: 200px
  min-height: 100px
  height: calc(100% - 50px)
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15)
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: baseline
  align-items: baseline
  padding: 10px
.list-item
  background-color: #e0e0e0
  color: rgba(0,0,0,.87)
  border-radius: 16px
  display: inline-flex
  margin: 5px
  padding: 7px 12px
  min-height: 32px
  align-items: center
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1)
  box-sizing: border-box
  font-size: 14px
  font-weight: 500
h5
  display: inline-block
  line-height: 40px
  vertical-align: top
.ignore
  color: #fff
  background: linear-gradient(#CB356B, #BD3F32)

.main
  color: #fff
  background: linear-gradient(#00b09b, #96c93d)

.optional
  background: linear-gradient(#D3CCE3, #E9E4F0)

.recommended
  color: #fff
  background: linear-gradient(#36D1DC, #5B86E5)

.passive
  color: #fff !important
  background: linear-gradient(#ccc, #ccc) !important

.hidden
  .mat-badge-content
    display: none !important

.mat-form-field
  display: block !important
  max-width: 400px
